In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
file_path = '/content/drive/My Drive/dataset-1.csv'
df = pd.read_csv('/content/drive/My Drive/dataset-1.csv')

In [28]:
print(df)

            id        name     id_2  startDay startTime     endDay   endTime  \
0      1040000  Montgomery       -1    Monday  05:00:00  Wednesday  10:00:00
1      1040010       Black       -1    Monday  10:00:00     Friday  15:00:00
2      1040020     Emerald       -1  Thursday  15:00:00     Friday  19:00:00
3      1040030       Foley       -1    Monday  19:00:00     Friday  23:59:59
4      1050000    Whittier  1050001  Saturday  00:00:00     Sunday  23:59:59
...        ...         ...      ...       ...       ...        ...       ...
39509  1031012     Baldwin  1031030    Monday  19:00:00     Friday  23:59:59
39510  1031012     Baldwin  1031032  Saturday  00:00:00     Sunday  23:59:59
39511  1031014    Thickson  1031016  Saturday  00:00:00     Sunday  23:59:59
39512  1031014    Thickson  1031018    Monday  05:00:00  Wednesday  10:00:00
39513  1031014    Thickson  1031020    Monday  10:00:00     Friday  15:00:00

       able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
0            3.0        3.0       -1.0         -1          3          3
1            6.0        6.0       -1.0         -1          6          6
2            3.0        3.0       -1.0         -1          3          3
3            6.0        6.0       -1.0         -1          6          6
4            6.0        6.0        NaN         -1          6          6
...          ...        ...        ...        ...        ...        ...
39509       11.0       11.0        4.0          4         11         11
39510       11.0       11.0        4.0          4         11         11
39511       11.0       11.0        4.0          4         11         11
39512        8.0        8.0        4.0          4          8          8
39513       11.0       11.0        4.0          4         11         11

       able4Hov2  able4Hov3
0              3          3
1              6          6
2              3          3
3              6          6
4              6          6
...          ...        ...
39509         11         11
39510         11         11
39511         11         11
39512          8          8
39513         11         11

[39514 rows x 15 columns]

QUESTION 1 (TASK 1)

In [29]:
import pandas as pd

def generate_car_matrix(df):
    result_df = df.pivot_table(values='car', index='id_1', columns='id_2', fill_value=0)
    result_df.values[[range(len(result_df))]*2] = 0
    return result_df
df = pd.read_csv('/content/drive/My Drive/dataset-1.csv')
result_dataframe = generate_car_matrix(df)
print(result_dataframe)

id_2  801  802  803  804  805  806  807  808  809  821  822  823  824  825  \
id_1
801   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
802   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
803   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
804   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
805   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
806   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
807   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
808   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
809   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
821   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
822   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
823   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
824   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
825   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
826   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
827   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
829   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
830   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
831   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

id_2  826  827  829  830  831
id_1
801   0.0  0.0  0.0  0.0  0.0
802   0.0  0.0  0.0  0.0  0.0
803   0.0  0.0  0.0  0.0  0.0
804   0.0  0.0  0.0  0.0  0.0
805   0.0  0.0  0.0  0.0  0.0
806   0.0  0.0  0.0  0.0  0.0
807   0.0  0.0  0.0  0.0  0.0
808   0.0  0.0  0.0  0.0  0.0
809   0.0  0.0  0.0  0.0  0.0
821   0.0  0.0  0.0  0.0  0.0
822   0.0  0.0  0.0  0.0  0.0
823   0.0  0.0  0.0  0.0  0.0
824   0.0  0.0  0.0  0.0  0.0
825   0.0  0.0  0.0  0.0  0.0
826   0.0  0.0  0.0  0.0  0.0
827   0.0  0.0  0.0  0.0  0.0
829   0.0  0.0  0.0  0.0  0.0
830   0.0  0.0  0.0  0.0  0.0
831   0.0  0.0  0.0  0.0  0.0

QUESTION 1 (TASK 2)

In [30]:
import pandas as pd

def get_type_count(df):

    conditions = [
        (df['car'] <= 15),
        (df['car'] > 15) & (df['car'] <= 25),
        (df['car'] > 25)
    ]


    car_type_values = ['low', 'medium', 'high']
    df['car_type'] = pd.cut(df['car'], bins=[float('-inf'), 15, 25, float('inf')], labels=car_type_values)


    type_count = df['car_type'].value_counts().to_dict()

    sorted_type_count = dict(sorted(type_count.items()))

    return sorted_type_count
result_type_count = get_type_count(df)
print(result_type_count)

{'high': 56, 'low': 196, 'medium': 89}

QUESTION 1 (TASK 3)

In [31]:
import pandas as pd

def get_bus_indexes(df):
    # Calculate the mean value of the 'bus' column
    mean_bus_value = df['bus'].mean()

    # Identify indices where bus values are greater than twice the mean
    bus_indexes = df[df['bus'] > 2 * mean_bus_value].index.tolist()

    # Sort the indices in ascending order
    bus_indexes.sort()

    return bus_indexes

# Example usage:
# Assuming df is your DataFrame loaded from dataset-1.csv
# df = pd.read_csv('dataset-1.csv')

# Call the get_bus_indexes function
result_bus_indexes = get_bus_indexes(df)

# Print the result
print(result_bus_indexes)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

QUESTION 1 (TASK 4)

In [32]:
import pandas as pd

def filter_routes(df):
    # Group by 'route' and calculate the average of 'truck' column for each group
    route_avg_truck = df.groupby('route')['truck'].mean()

    # Filter routes where the average of 'truck' column is greater than 7
    selected_routes = route_avg_truck[route_avg_truck > 7].index.tolist()

    # Sort the selected routes in ascending order
    selected_routes.sort()

    return selected_routes

# Example usage:
# Assuming df is your DataFrame loaded from dataset-1.csv
# df = pd.read_csv('dataset-1.csv')

# Call the filter_routes function
result_selected_routes = filter_routes(df)

# Print the result
print(result_selected_routes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

QUESTION 1 (TASK 5)

In [33]:
import pandas as pd

def multiply_matrix(result_df):
    # Create a copy of the input DataFrame to avoid modifying the original
    modified_df = result_df.copy()

    # Apply the specified logic to modify values in the DataFrame
    modified_df[modified_df > 20] *= 0.75
    modified_df[modified_df <= 20] *= 1.25

    # Round the modified values to 1 decimal place
    modified_df = modified_df.round(1)

    return modified_df

# Example usage:
# Assuming result_df is the DataFrame obtained from Question 1
result_df = generate_car_matrix(df)

# Call the multiply_matrix function
modified_result_df = multiply_matrix(result_df)

# Print the modified result
print(modified_result_df)

id_2  801  802  803  804  805  806  807  808  809  821  822  823  824  825  \
id_1
801   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
802   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
803   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
804   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
805   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
806   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
807   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
808   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
809   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
821   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
822   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
823   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
824   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
825   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
826   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
827   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
829   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
830   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
831   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

id_2  826  827  829  830  831
id_1
801   0.0  0.0  0.0  0.0  0.0
802   0.0  0.0  0.0  0.0  0.0
803   0.0  0.0  0.0  0.0  0.0
804   0.0  0.0  0.0  0.0  0.0
805   0.0  0.0  0.0  0.0  0.0
806   0.0  0.0  0.0  0.0  0.0
807   0.0  0.0  0.0  0.0  0.0
808   0.0  0.0  0.0  0.0  0.0
809   0.0  0.0  0.0  0.0  0.0
821   0.0  0.0  0.0  0.0  0.0
822   0.0  0.0  0.0  0.0  0.0
823   0.0  0.0  0.0  0.0  0.0
824   0.0  0.0  0.0  0.0  0.0
825   0.0  0.0  0.0  0.0  0.0
826   0.0  0.0  0.0  0.0  0.0
827   0.0  0.0  0.0  0.0  0.0
829   0.0  0.0  0.0  0.0  0.0
830   0.0  0.0  0.0  0.0  0.0
831   0.0  0.0  0.0  0.0  0.0

IMPORTING dataset-2.csv

In [34]:
import pandas as pd
file_path = '/content/drive/My Drive/dataset-2.csv'
df = pd.read_csv('/content/drive/My Drive/dataset-2.csv')
print(df)

            id        name     id_2  startDay startTime     endDay   endTime  \
0      1040000  Montgomery       -1    Monday  05:00:00  Wednesday  10:00:00
1      1040010       Black       -1    Monday  10:00:00     Friday  15:00:00
2      1040020     Emerald       -1  Thursday  15:00:00     Friday  19:00:00
3      1040030       Foley       -1    Monday  19:00:00     Friday  23:59:59
4      1050000    Whittier  1050001  Saturday  00:00:00     Sunday  23:59:59
...        ...         ...      ...       ...       ...        ...       ...
39509  1031012     Baldwin  1031030    Monday  19:00:00     Friday  23:59:59
39510  1031012     Baldwin  1031032  Saturday  00:00:00     Sunday  23:59:59
39511  1031014    Thickson  1031016  Saturday  00:00:00     Sunday  23:59:59
39512  1031014    Thickson  1031018    Monday  05:00:00  Wednesday  10:00:00
39513  1031014    Thickson  1031020    Monday  10:00:00     Friday  15:00:00

       able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
0            3.0        3.0       -1.0         -1          3          3
1            6.0        6.0       -1.0         -1          6          6
2            3.0        3.0       -1.0         -1          3          3
3            6.0        6.0       -1.0         -1          6          6
4            6.0        6.0        NaN         -1          6          6
...          ...        ...        ...        ...        ...        ...
39509       11.0       11.0        4.0          4         11         11
39510       11.0       11.0        4.0          4         11         11
39511       11.0       11.0        4.0          4         11         11
39512        8.0        8.0        4.0          4          8          8
39513       11.0       11.0        4.0          4         11         11

       able4Hov2  able4Hov3
0              3          3
1              6          6
2              3          3
3              6          6
4              6          6
...          ...        ...
39509         11         11
39510         11         11
39511         11         11
39512          8          8
39513         11         11

[39514 rows x 15 columns]

QUESTION ! (TASK 6)

In [35]:
import pandas as pd

def check_completeness(df):
    try:
        # Convert 'timestamp' columns to datetime type
        df['start_datetime'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'])
        df['end_datetime'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'])

    except pd.errors.OutOfBoundsDatetime as e:
        print(f"Error: {e}")
        return None

    # Calculate the time duration for each row
    df['duration'] = df['end_datetime'] - df['start_datetime']

    # Check if each time duration covers a full 24-hour period and spans all 7 days
    completeness_check = (
        (df['duration'] == pd.Timedelta(days=1)) &  # Covers 24 hours
        (df['start_datetime'].dt.day_name() == df['end_datetime'].dt.day_name())  # Spans the same day of the week
    )

    # Group by (id, id_2) and check if all rows for each group pass the completeness check
    result_series = completeness_check.groupby(['id', 'id_2']).all()

    return result_series

# Example usage:
# Assuming df is your DataFrame loaded from dataset-2.csv
# df = pd.read_csv('dataset-2.csv')

# Call the check_completeness function
completeness_result = check_completeness(df)

# Print the result
print(completeness_result)

Error: Out of bounds nanosecond timestamp: 1-01-01 05:00:00 present at position 0
None